@keyframes ldio-9gb9ttbylm {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
  }
  .ldio-9gb9ttbylm div {
    position: absolute;
    animation: ldio-9gb9ttbylm 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #5b83e1;
    transform-origin: 80px 82px;
  }
  .loadingio-spinner-eclipse-0vxqpoey6s6d {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
  }
  .ldio-9gb9ttbylm {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-9gb9ttbylm div { box-sizing: content-box; }